<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/html.html to edit this template
-->
<html>
    <head>
        <title>Marbrayon.com</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="css/Css.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

    </head>
    <main id="hero">
    <body>
        
              <video muted autoplay loop>
                <source src="Ima/Cristiano Ronaldo 4K Edit _ After Effects 2022 🤍.mp4"
                        type="video/mp4">
            </video>  
         
        
                
        
        <nav class="nav-extended">
           <div class="nav-wrapper" style="background: #17202A">
               <a href="#" class="brand-logo" style="color: #ffffff"> <img style="border-radius: 60px" src="Ima/logochico.jpg" width="150" height="65" alt="logochico"/>
               </a>     
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/inicio" style="font-size: 20px">Iniciar sesion</a></li>
          
        
      </ul>
      
      <ul id="slide-out" class="sidenav">
        <li><div class="user-view">
          <div class="background">
            <img src="Ima/fondo11.png">
          </div>
    <a href="#user"><img class="circle" src="Ima/usuario.png"></a>
    <a href="#name"><span class="white-text name">Usuario</span></a>
    <a href="#email"><span class="white-text email">Email</span></a>
        </div></li>
        <li><a href="Registro"><i class="material-icons">face</i>Registrarse</a></li>
        <li><a href="inicio"><i class="material-icons">assignment_ind</i>Iniciar sesion</a></li>
      </ul>
      <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>


    </div>
  
  
  <div style="position: relative;" class="row">
    <div class="col s4 texto-oculto contenedor-carta fondo-contenedor"><h5 style="display:flex;z-index:2;color: aliceblue;">En un mundo donde el deporte era la pasión que unía a personas de todas las edades, razas y géneros, nació Marbrayon, una marca que no solo se dedicaba a la fabricación de productos deportivos, sino que también se comprometía a impulsar un mensaje de inclusión, superación y comunidad
      La historia de Marbrayon comenzó en una pequeña ciudad donde tres amigos, Martín , Brandon y yony, compartían su amor por el deporte desde la infancia. Juntos, soñaban con crear una marca que no solo ofreciera productos de alta calidad, sino que también inspirara a las personas a perseguir sus sueños, sin importar los obstáculos que pudieran enfrentar en el camino.<br><br>mejores ofertas en ropa deportiva de la tienda Marbrayon:<br><br>Conjunto de compresión Marbrayon ProFit: Este conjunto de compresión está diseñado para ofrecer un ajuste perfecto y una excelente gestión de la humedad, ideal para cualquier actividad deportiva. Ahora disponible con un descuento del 20% en todos los tamaños y colores seleccionados.
      Chaqueta cortavientos Marbrayon Shield: Protege del viento y la lluvia ligera durante tus entrenamientos al aire libre con la chaqueta cortavientos Marbrayon Shield. ¡Aprovecha la oferta especial de esta semana y llévatela con un 30% de descuento!</h5></div>
    <div class="col s4"><h5></h5></div>
    <div class="col s4 texto-oculto">
      <img style="position: relative;z-index:2;display:flex; " src="Ima/zapas.png" alt="basque4"/>
      <br>
      <img style="position: relative;z-index:2;display:flex; " src="Ima/zapas2.png" width="574" height="290" alt="zapas2"/> 
    </div>
  </div>  
  <div style=" background-color: #006064; text-align: center;display: flex; z-index: 2;">
    <a style="background:linear-gradient(to bottom, #17202A, #34495E);margin-left:25%;margin-top:13px;width:50%;height:10%;border-radius:40px; font-size: 20px" class="waves-effect waves-light btn" href="registro">Unirse</a>
</div>   
            
             </main>

       <footer class="page-footer" style="background: linear-gradient(to bottom, #17202A, #34495E)">
          <div class="container">
              <br>
            <div class="row">
              <div class="col l4 s12">
                <h5 class="white-text">Derechos del comprador</h5>
                <p class="grey-text text-lighten-4">Derecho a la información completa y precisa sobre productos y precios.</p>
                <p class="grey-text text-lighten-4">Garantía de calidad en todos nuestros productos deportivos.</p>
                <p class="grey-text text-lighten-4">Seguridad en la compra de artículos que cumplen normativas de seguridad.</p>
                <p class="grey-text text-lighten-4">Soporte y atención al cliente amable y profesional en todo momento.</p>
                
                
               
              </div>
              <div class="col l4 offset-l0 s10">
                <h5 class="white-text">Te ayudamos</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Venta telefónica 600 390 6500</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Contáctanos</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Devoluciones y cambios</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Estado del pedido</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Concursos y bases legales</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Cómo cuidamos tus datos</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Consulta tu Gift Card</a></li>
                   <li><a class="grey-text text-lighten-3" href="#!">Canal de integridad - Integrity Channel</a></li>
                </ul>
              </div>
                <div class="col l4 offset-l0 s10">
                <h5 class="white-text">Sé parte de Nuestra tienda</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Venta empresa</a></li>
                  
                  <li><a class="grey-text text-lighten-3" href="#!">Nuestros inversionistas</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Cyberday</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Black Friday</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Cyber Monday</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Trabaja en Grupo Falabella</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.falabella.com">Vende en nuestra tienda</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
                <a> © 2024   © TODOS LOS DERECHOS RESERVADOS</a>
                <a class="grey-text text-lighten-4 right" href="#!">Politica de Cookies</a>
              <div>
                    Falabella.com SPA. Av. Presidente Riesco N°5.685, oficina 401, Santiago de Chile
            <a class="grey-text text-lighten-4 right" href="#!">Terminos y condiciones</a></div>
                
            </div>
          </div>
        </footer>  

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
      
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.sidenav');
      var instances = M.Sidenav.init(elems, null);
    });
   
  </script>
        
        
    </body>
</html>
                